<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-info indigo mb-4">

	<!-- Navbar brand -->
	<a class="navbar-brand" href="/">FION</a>

	<!-- Collapsible content -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<form class="form-inline ml-auto" action="/user/searchByNickName">
			<input class="form-control" name="nickname" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-white btn-md my-0 ml-sm-2 bg-dark text-white" type="submit">Search</button>
		</form>
	</div>
	<!-- Collapsible content -->

</nav>
<!--/.Navbar-->