<!DOCTYPE html>
<html lang="en">

<head>

{{> /include/header}}

</head>

<body>
	
	{{> /include/navigator}}

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				{{#userDtoByNickName}}
				<h1 class="mt-5">조회정보 : {{nickname}}</h1>
				<ul class="list-unstyled">
					<li>유저 고유 식별자 : {{accessId}}</li>
					<li>유저 닉네임 : {{nickname}} </li>
					<li>유저 레벨 : {{level}} </li>
				</ul>
				{{/userDtoByNickName}}
			</div>
		</div>
	</div>

	{{> /include/footer}}

</body>

</html>